<div class="flex px-10 py-2">
    <div class="w-3/12">
        <h6>Filters</h6>
        <div class="flex flex-col">
            <div class="w-full p-2">
                <mat-form-field class="w-full">
                    <mat-label>Danh mục</mat-label>
                    <mat-select name="categoryId" [(ngModel)]="categoryId" (valueChange)="getProducts()">
                        @for (item of categories; track $index) {
                            <mat-option value="{{item._id}}">{{item.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Thương hiệu</mat-label>
                    <mat-select name="brandId" [(ngModel)]="brandId" (valueChange)="getProducts()">
                        @for (item of brands; track $index) {
                            <mat-option value="{{item._id}}">{{item.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="flex-1">
        <div class="flex justify-between">
            <h6>Products</h6>
            <mat-form-field class="w-60">
                <mat-label>Order by</mat-label>
                <mat-select (valueChange)="orderChange($event)">
                        <mat-option [value]="1">Giá Thấp - Cao</mat-option>
                        <mat-option [value]="-1">Giá Cao - Thấp</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex flex-wrap">
            @for(item of products; track $index) {
                <div class="relative m-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/3 max-w-xs overflow-hidden rounded-lg bg-white shadow-md">
                    <app-product-card [product]="item"></app-product-card>
                </div>
            } @empty {
                <h6>Không có sản phẩm nào!</h6>
            }
        </div>

        <div class="flex">
            <button mat-raised-button color="primary" [disabled]="page ==1" (click)="pageChange(page-1)">Trước</button>
            <button mat-raised-button color="primary" (click)="pageChange(page+1)" [disabled]="!isNext"> Sau</button>
        </div>
    </div>
</div>
