<section class="bg-white">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto mt-20 lg:py-0">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h2 class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Đăng ký
                </h2>
                <form [formGroup]="registerForm">
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label for="name">Tên của bạn</mat-label>
                            <input type="text" id="name" matInput placeholder="Nhập tên của bạn" required formControlName="name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label for="email">Email</mat-label>
                            <input type="email" id="email" matInput placeholder="Nhập email của bạn"
                                required formControlName="email">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label for="password">Mật khẩu</mat-label>
                            <input type="password" id="password" matInput placeholder="Nhập mật khẩu"
                                required formControlName="password">
                        </mat-form-field>
                    </div>
                    <!-- <div class="flex items-start">
                        <div class="flex items-center h-5">
                          <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-white focus:ring-3 focus:ring-primary-300" required="">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="terms" class="font-light text-gray-500">I accept the <a class="font-medium text-primary-600 hover:underline" href="#">Terms and Conditions</a></label>
                        </div>
                    </div> -->
                    <button mat-raised-button class="w-full mb-5" [disabled]="registerForm.invalid" (click)="register()">Đăng ký
                    </button>
                    <p class="text-sm font-light text-gray-500">
                        Đã có tài khoản? <a routerLink="/login"
                            class="font-medium text-primary-600 hover:underline">Đăng nhập</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>